<div class=" bg-gray-100">
        <div class="text-indigo-600 p-2 right-0 absolute">
                <a href="#" class="" (click)="changeLanguage('En')">
                        English</a>

                <a href="#" class="ml-2" (click)="changeLanguage('Es')">
                        Spanish</a>

        </div>
        <div class="flex px-6 py-5  mx-auto">

                <!--Profile Image Section-->
                <div class="pr-4 max-w-xs">
                        <img class="mt-5 object-cover object-center rounded-md mx-auto" src="assets/profile.jpg"
                                alt="Jaime Carballo Home">
                </div>


                <!--Text Section-->
                <div class="my-auto mt-4">
                        <h1 class=" text-3xl font-bold">Jaime <span class="text-indigo-500 ">Carballo</span></h1>



                        <h2 class="mt-6 text-xl text-gray-800 leading-tight font-bold text-gray-600">Learning something
                                everyday.<br>
                                <span class="text-indigo-500">I'm a Sofware Developer.</span>
                        </h2>

                        <p class="mt-5 text-gray-600">Hey there, i'm a software developer looking to improve myself
                                everyday. I
                                can work with
                                <span class="font-bold text-indigo-400"> Angular, C#,
                                        Java</span> in order to make your app or collaborate with your
                                projects.</p>

                        <div class="mt-8">
                                <a href="#"
                                        class="inline-block bg-indigo-500 text-white px-6 py-3 tracking-wider uppercase shadow-lg rounded-lg  text-sm font-semibold">
                                        Contact Me</a>
                        </div>
                </div>
        </div>

</div>