<div class="bg-indigo-100">

        <!--ToolBar-->
        <div class="pt-4 max-w-screen-xl mx-auto text-gray-800">
                <h1 class="text-3xl font-bold inline-block ml-4">Jaime <span
                                class="text-indigo-500 curso">Carballo</span>
                </h1>

                <span class="float-right text-xl mr-8 hover:text-indigo-600 cursor-pointer"><a
                                href="https://github.com/Xileck"><i class="fa fa-github hover:cursor-pointer "
                                        aria-hidden="true"></i></a></span>

                <span class="float-right text-xl mr-4 hover:text-indigo-600 cursor-pointer"><a
                                href="https://www.linkedin.com/in/jaime-carballo-diaz-infante-2239a9140/"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i></a></span>



        </div>

        <div class="pt-4 max-w-screen-xl mx-auto line-through">
                <hr>
        </div>

        <!--contenido-->
        <div class="flex  py-5 max-w-screen-xl  mx-auto ">

                <!--Profile Image Section-->
                <div class="pr-4 max-w-xs w-1/3 mx-auto">
                        <img class="mt-5 object-cover object-center rounded-md mx-auto" src="assets/profile.jpg"
                                alt="Jaime Carballo Home">
                </div>

                <!--Text Section-->
                <div class="my-auto mt-4 w-2/3">

                        <h2 class="mt-6 text-3xl text-gray-800 leading-tight font-bold text-gray-600">Learning something
                                everyday.<br>
                                <span class="text-indigo-500">I'm a Sofware Developer.</span>
                        </h2>

                        <p class="mt-5 text-gray-600 text-2xl">
                                Hey there, i'm a software developer looking to improve myself everyday. I can work with
                                <span class="font-bold text-indigo-400"> Angular</span> for the front-end, and use <span
                                        class="font-bold text-indigo-400">C#</span> or <span
                                        class="font-bold text-indigo-400">Java</span>
                                for the backend
                                in order to make your app or collaborate with your projects.</p>

                        <div class="mt-8">
                                <a href="#"
                                        class="inline-block bg-indigo-500 text-white px-6 py-3 tracking-wider uppercase shadow-lg rounded-lg  text-sm font-semibold">
                                        Contact Me</a>
                        </div>
                </div>
        </div>
</div>


<!--About me-->
<div class="bg-gray-100">
        <div class="max-w-screen-xl mx-auto">
                <!--Titulo Seccion-->
                <div class="pt-4  mx-auto">
                        <h1 class="text-3xl text-center text-gray-800">About me</h1>
                </div>

                <!--Practicante-->
                <div class="w-2/5 text-justify">
                        <h2 class="text-2xl text-indigo-400 font-bold">Internship at CFE Nuclear Plant Laguna Verde</h2>

                        <p class="mt-5">In 2016 i applied and got accepted as an intern in Laguna Verde in the Software
                                Development
                                Department, while
                                in there i got the task of learning and applying the Angular framework as the front-end,
                                Java as
                                back-end and use their INFORMIX-IBM database to develop a new app that would use the
                                360-degree feedback to evaluate the high-directives employees in the organization. At
                                the time
                                of this
                                the Department was
                                developing with Adobe Flex, after they saw the potential that Angular had and knowing
                                that Flash
                                browser
                                support was coming to an end they got encouraged to make the switch to Angular,
                                They now only develop new apps with Angular and started outsourcing jobs to migrate the
                                old apps
                                to
                                Angular because soon most modern browsers will stop working with flash.</p>
                </div>

                <div class="w-2/5 text-justify mt-10 float-right">
                        <h2 class="text-xl text-indigo-400 font-bold leading-none text-center">Software Developer at
                                National
                                Institute of
                                Nuclear
                                Investigations (ININ)</h2>

                        <p class="mt-5">In 2016 i applied and got accepted as an intern in Laguna Verde in the Software
                                Development
                                Department, while
                                in there i got the task of learning and applying the Angular framework as the front-end,
                                Java as
                                back-end and use their INFORMIX-IBM database to develop a new app that would use the
                                360-degree feedback to evaluate the high-directives employees in the organization. At
                                the time
                                of this
                                the Department was
                                developing with Adobe Flex, after they saw the potential that Angular had and knowing
                                that Flash
                                browser
                                support was coming to an end they got encouraged to make the switch to Angular,
                                They now only develop new apps with Angular and started outsourcing jobs to migrate the
                                old apps
                                to
                                Angular because soon most modern browsers will stop working with flash.</p>
                </div>
        </div>
</div>